<!doctype html>

<html lang="en" data-bs-theme="dark">
  <!--Header-->
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include header.ejs %>
  </head>
  <!--Header-->

  <!--Main-->
  <main>
    <body>
      <div class="container">
        <h1 class="text-center pb-3">The Codenundrum</h1>
        <p class="text-center">
          The Codenundrum will be a place where I document all of my learned skills throughout my
          software career. Initially, I will focus on my Python, C++, Java, and Javascript skills
          and write guides on specific methods or implementations that I have discovered that
          work best for me. I drew inspiration for this from the website GeeksforGeeks, where there
          is plenty of information for aspiring developers to learn. I wanted to take it a step farther
          though, and write guides that are more specific.
        </p>
        <p class="text-center">
          This is my initial template for further development. It is hosted on Azure using their Web
          App service with a SQL Server. In the future, there will be a way to sign up and log in 
          to allow the user to save certain pages within the website then access them easily from 
          the homescreen. All of the source code is open-source and free to use if you find anything 
          that you would like to include in your projects.
        </p>
      </div>
    </body>
  </main>
  <!--Main-->

  <!--Footer-->
  <% include footer.ejs %>

</html>
