<!doctype html>

<html lang="en" data-bs-theme="dark">
  <!--Header-->
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include header.ejs %>
  </head>
  <!--Header-->

  <!--Main-->
  <main>
    <body>
    
    </body>
  </main>
  <!--Main-->

  <!--Footer-->
  <% include footer.ejs %>

</html>
