<!doctype html>

<html lang="en" data-bs-theme="dark">
  <!--Header-->
  <head>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% include header.ejs %>
  </head>
  <!--Header-->

  <!--Main-->
  <main>
    <body>
      <div class="container">
        <h1 class="text-center pb-3">Python</h1>
        <h2>Python List Operations</h2>
        <code>listName.append(object)</code>
        <p>Appends an object to a list.</p>
        <code>listName.pop([index])</code>
        <p>Remove and return the object at the index.</p>
        <code>listName.insert(index, object)</code>
        <p>Insert an object at the index.</p>
    </body>
  </main>
  <!--Main-->

  <!--Footer-->
  <% include footer.ejs %>

</html>
